.banner {
  background: var(--azul-degrade);
  color: var(--branco);
  text-align: center;
  padding: 3.2rem 2.4rem;
}

.banner_titulo {
  font-weight: 700;
  font-size: 1.8rem;

}

.banner_texto {
  font-weight: 500;
  margin: 2rem 0;
}

.banner_pesquisa {
  background: transparent;
  border: .1rem solid var(--branco);
  color: var(--branco);
  border-radius: 2.4rem;
  padding: 1rem;
  width: 100%;
}

.banner_pesquisa::placeholder {
  font-family: var(--fonte-principal);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--branco);
  background: url("../img/icon_lupa.svg") no-repeat;
  background-position: 1rem;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 8rem;
  }

  .banner_titulo {
    font-size: 3.6rem;
  }

  .banner_pesquisa {
    width: 50%;
  }

  .banner_pesquisa::placeholder {
    background-position: 8rem;
  }
}

@media screen and (min-width: 1728px) {
  .banner_pesquisa {
    padding: 2rem;
    width: 35%;
  }

  .banner_pesquisa::placeholder {
    background-position: 12rem;
  }
}