.carroussel_titulo {
  color: var(--laranja);
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  background: var(--branco);
  padding: 2rem 0 1rem 0;
}

.swiper {
  max-width: 74.5rem;
}

.swiper-pagination {
  position: initial;
  margin: 1rem 0;
}

.swiper-slide img {
  width: 100%;
  max-width: 24.2rem;
  height: auto;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.card {
  max-width: 58.8rem;
  padding: 1.6rem;
  margin: 1.6rem auto 1.6rem auto;
  border-radius: 1rem;
  background: var(--branco);
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.card_descricao {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}

.descricao_estrelas {
  margin-bottom: .8rem;
}

.descricao_prefixo {
  font-weight: 700;
  color: var(--laranja);
  display: block;
}

.descricao_titulo {
  font-weight: 700;
  color: var(--azul);
  font-size: 1.8rem;
  padding: 1.6rem 0;
}

.descricao_texto {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.card_botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.botoes {
  display: flex;
  align-items: center;
}

.botoes_item {
  padding: 0 1.2rem;
}

.botoes_ancora {
  color: var(--branco);
  background: var(--laranja);
  padding: 1.2rem 3.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: color .5s, background .5s;
}

.botoes_ancora:hover {
  color: var(--branco);
  background: var(--azul);
}

@media screen and (min-width: 1024px) {
  .carroussel_titulo {
    padding: 5rem 0 2rem 0;
    font-size: 2.6rem;
  }

  .swiper-pagination {
    margin: 2rem 0 3rem 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    margin: 3rem auto;
  }
}

@media screen and (min-width: 1728px) {
  .carroussel_titulo {
    font-size: 3.6rem;
  }

  .carroussel_container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    gap: 4.8rem;
    justify-content: center;
  }

  .swiper {
    max-width: 74.5rem;
    width: 100%;
    margin: 0;
  }

  .swiper-pagination {
    margin: 1rem 0;
  }

  .descricao_prefixo {
    font-size: 3.2rem;
  }

  .card {
    max-width: 58.8rem;
    width: 100%;
    margin: 0;
  }
}