.rodape {
  background-color: var(--branco);
  padding: 2.4rem;
  border-top: .1rem solid var(--cinza-claro);
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-between;
    padding: 4.8rem 2.4rem 2.4rem 2.4rem;
  }
  
  .rodape_titulo {
    font-size: 2.4rem;
  }

  .lista-rodape {
    display: block;
    font-size: 1.4rem;
  }

  .lista-rodape_titulo {
    color: var(--cinza-claro);
    margin-bottom: 3rem;
  }

  .lista-rodape_item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
  }

  .lista-rodape_link {
    color: var(--cinza);
    text-decoration: none;
  }

  .lista-rodape_link:hover {
    color: var(--laranja);
  }
}

@media screen and (min-width: 1728px) {
  .rodape {
    justify-content: space-evenly;
  }

  .lista-rodape {
    border-left: .1rem solid var(--cinza-claro);
    padding-left: 1.6rem;
  }
}