@import url(header.css);
@import url(banner.css);

:root {
  --cor-de-fundo: #EBECEE;
  --branco: #FFFFFF;
  --laranja: #EB9B00;
  --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins";
  
  font-size: 62.5%;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 1.6rem;
  font-weight: 400;
}